
@{

    Layout = null;

}



<!DOCTYPE html>



<html>

<head>

    <meta name="viewport" content="width=device-width" />

    <title>TwitterCallback</title>

</head>

<body>

    <div>

        <h1>Welcome @TempData["Name"]</h1>

        <br />

        <img src="@TempData["Userpic"]" style="width:100px;height:100px;" />



    </div>

</body>

</html>

